<nav>
    <ul>
        <li><a title="inicio" href="/">Inicio</a></li>
        #if ($isLogged)
            <li>Hola $currentUser.getNombre() <a title="cerrar" href="/logout">Cerrar Sesion</a></li>
            #if (!$isAdmin)
                <li><a tile="mis_inspecciones" href="/ver/programacion">Ver programacion</a></li>
            #else
                <li><a title="ver_programa" href="/admin/ver/programas">Ver programas</a></li>
                <li><a title="crear_programa" href="/admin/crear/programa">Crear Programa</a></li>
            #end
        #else
            <li><a title="login" href="/login">Login</a></li>
        #end
    </ul>
</nav>