#parse("/templates/common/layout.vm")
#@mainLayout()

    #parse("/templates/common/navbar.vm")

    <h1>Crear inspeccion</h1>

    <form action="/admin/crear/inspeccion" method="post">

    </form>

#end