#parse("/templates/common/layout.vm")
#@mainLayout()

#parse("/templates/common/navbar.vm")

#if ($result and !$result.isSuccess())
<h1 style="color: red;">$result.getMessage()</h1>
#end
<h1>Login Admin</h1>

<form action="/admin/login" method="post">
    <table>
        <tbody>
        <tr>
            <td>Usuario:</td>
            <td><input type="text" name="usuario" required="required"/></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" name="password" required="required"/></td>
        </tr>
        <tr>
            <td><button type="submit">Ingresar</button></td>
        </tr>
        </tbody>
    </table>
</form>
#end